<h1>About me</h1>

<!-- <p>Find me in app/views/pages/info.html.erb</p> -->

<p>I am Maria.</p>
<img src="https://si0.twimg.com/profile_images/3109389903/e6506134158c13a31d21fd96bf42bc54.jpeg" />
<br>
<br>
<p>I am so <b>happy</b> to be writting code again.</p>

